<main class="main-section">
    <div class="text-center">
      <img src="images/FOTOCURRICULUM.jpg" alt="Foto de Currículum" class="img-fluid rounded-circle" style="width: 200px;">
      <h1>Sobre Mí</h1>
      <p>
        Soy una persona muy trabajadora y responsable, dedico todo mi tiempo y esfuerzo a realizar mis trabajos de la mejor manera posible. En mi tiempo libre me gusta pasar tiempo con mi familia y con mi novia además de hacer deporte como por ejemplo jugar al futbol.
      </p>
      <div class="d-flex justify-content-center">
        <div class="mr-5">
          <h3>Lenguajes de Programación</h3>
          <ul style="list-style-type: disc; padding-left: 20px; text-align: left;">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>Java</li>
          </ul>
        </div>
        <div class="ml-5">
          <h3>Programas que Utilizo</h3>
          <ul style="list-style-type: disc; padding-left: 20px; text-align: left;">
            <li>Visual Studio Code</li>
            <li>GitHub</li>
            <li>PyCharm</li>
            <li>IntelliJ IDEA</li>
            <li>Postman</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  