<main class="main-section">
    <h1 class="text-center">Mis Proyectos</h1>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 mb-4">
          <div class="product neon-effect">
            <img src="images/one.jpg" alt="Proyecto 1" class="img-fluid">
            <h2>Desarrollo de Aplicaciones Móviles</h2>
            <p>
              He creado aplicaciones móviles utilizando herramientas modernas, enfocándome en la experiencia del usuario y la funcionalidad.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="product neon-effect">
            <img src="images/two.jpg" alt="Proyecto 2" class="img-fluid">
            <h2>Proyecto de Análisis de Datos</h2>
            <p>
              Realicé un proyecto de análisis de datos donde utilicé herramientas como Excel y SQL para extraer información valiosa de grandes conjuntos de datos.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="product neon-effect">
            <img src="images/three.jpg" alt="Proyecto 3" class="img-fluid">
            <h2>Power BI</h2>
            <p>
              Desarrollé visualizaciones de datos interactivas con Power BI, ayudando a las empresas a tomar decisiones informadas basadas en datos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
  