<main class="main-section text-center">
    <h1 class="my-4">Bienvenido a Mi Portafolio</h1>
    <h2 class="my-3">
      Desarrollador de Aplicaciones Web <br> Fullstack-Developer
    </h2>
    <p class="my-2">
      Estudiante del Grado Superior en Desarrollo de Aplicaciones Web, apasionado por la creación de aplicaciones y soluciones digitales.
    </p>
    <p class="my-2">
      A lo largo de mis estudios, he adquirido habilidades en programación, diseño web y desarrollo de bases de datos, lo que me permite abordar proyectos completos desde su concepción hasta su implementación.
    </p>
    <img src="images/tecno.jpg" alt="Tecnología" class="img-fluid my-4" style="max-width: 80%; height: auto;">
  </main>
  